/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2017, 11:01:51 AM
    Author     : Syeda Sumaya Yesmin
*/
.rswrap .nav-tab.active {
    background-color: #fff !important;
    color: #444 !important;
}
.rswrap .nav-tab.connected i.fa-circle{
    color: #32CD32 !important;
}
.rswrap .nav-tab i.fa-circle{
    color: red !important;
}
.accordion h3{
background-color: lightgrey;
    padding: 10px;
}
.rswrap #col input[type='text'] {
    width: 50%;
}
.rswrap select[name='country'] {
    width: 100%;
}
.accordion input[name='street'],.accordion input[name='street_number'],.accordion input[name='city'],.accordion input[name='postal_code'] {
    width: 45%;
}
.rswrap .text-green {
    color: #32CD32 !important;
}
.rswrap .text-grey {
    color: #555d66 !important;
}
.not-active {
   pointer-events: none;
   cursor: default;
   color: #555d66 !important;
}
.uppformfields {
    background-color: #fff !important;
    padding: 10px !important;
}
.uppformfields label {font-size: 20px;}

.uppformfields h3 a{
    text-decoration: none;
    color: black;
}
.uppformfields .rs-ui-icon-plus:before {
    right: 0;
    content: "\f140";
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 5px 0 0;
    bottom: 2px;
    position: relative;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    color: #72777c;
    float: right;
}
.uppformfields .rs-ui-icon-minus:before {
    content: "\f142";
    right: 0;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 5px 0 0;
    bottom: 2px;
    position: relative;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    color: #72777c;
     float: right;
}

.form-field select {
    width: 95%;
}
.form-field select, .form-field input[type="text"], .form-field textarea {margin-bottom: 10px !important;}
.draggable label{font-size: 12px;}
.uppformfields a {
    cursor: pointer;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

textarea.hidden {
    display: none;
    
}

.disable h3 {
    opacity: 0.5;
    pointer-events: none;
}
a.enable {
    display: none;
}
.disable a.enable{
    display: block;
}
.upp-required {
    color: red;
}
.help-inline-error {
    color: red;
}
#upp-edit-form {
    clear: both;
}
#connect-upp-form-btn,
#edit-upp-form,
#save-upp-form{
    display: none !important;
}

